#footer
{
  height: 10%;
}
.topnav 
{
  overflow: hidden;
  background-color: #2eb82e;
  width: 90%;
  margin: auto;
  margin-top: 3%;
}
.topnav a 
{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active 
{
  background-color: #333;
  color: white;
}
.topnav a:hover 
{
  background-color: #333;
  color: white;
}
#main
{
  width: 90%;
  margin:auto;
  height: auto;
  background-color: white;
  border: 1px solid #f3f2f2;
  align-items: center;
}
#book
{
  background-color: #ffffff;
  float: left;
  width: 50%;
  height: 80%;
  margin-bottom: 150px;
  position: relative;
}
#locations
{
  background-color: #ffffff;
  float: right;
  width:49.9%;
  height:80%;
  border-left: 2px solid #f3f2f2;
  position: relative;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container 
{
  width:90%;
  height: 70%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text 
{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext 
{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active 
{
  background-color: #717171;
}

/* Fading animation */
.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) 
{
  .text {font-size: 11px}
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card 
{
  background-color: transparent;
  margin:auto;
  float: left;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card1 
{
  background-color: transparent;
  margin:auto;
  float: left;
  width: 400px;
  height: 400px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner 
{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card-inner1 
{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner 
{
  transform: rotateY(180deg);
}
.flip-card1:hover .flip-card-inner1 
{
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front1, .flip-card-back1 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front 
{
  background-color: #bbb;
  color: black;
}
.flip-card-front1 
{
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back 
{
  background-color: white;
  border: solid 3px #f2f3f3;
  color: #333;
  transform: rotateY(180deg);
}
.flip-card-back1 
{
  background-color: white;
  border: solid 3px #f2f3f3;
  color: #333;
  transform: rotateY(180deg);
}
/* The container must be positioned relative: */
.custom-select 
{
  position: relative;
  font-family: Arial;
}

.custom-select select
{
  display: none; /*hide original SELECT element: */
}

.select-selected 
{
  background-color: #2eb82e;
  width: 590px;
}

/* Style the arrow inside the select element: */
.select-selected:after 
{
  position: absolute;
  align-self: right;
  content: " ";
  top: 14px;
  left : 570px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after 
{
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected 
{
  color: #ffffff;
  padding: 8px 16px;
  width: 590px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items 
{
  position: absolute;
  background-color: #2eb82e;
  width: 590px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected 
{
  background-color: #333;;
}


#info 
{
  margin: 30px;
  font-style: oblique;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
#login-box
{
  position: relative;
  width:30%;
  margin: 5% auto;
  height: 400px;
  background: #f3f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#signup-box
{
  position: relative;
  width:30%;
  margin: 5% auto;
  height: auto;
  background: #f3f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.box
{
  align-content: center;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding-top: 60px;
  height: 400px;
}
.box-signup
{
  align-content: center;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding-top: 60px;
  height: auto;
}
input[type="text"],
input[type="password"],
input[type="email"]
{
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width:300px;
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
button[type="submit"]
{
  width: 120px;
  height: 42px;
  background: white;
  border: none;
  border: 2px solid #4CAF50;
  border-radius: 2px;
  color: #333;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
}
#sub
{
  margin-bottom: 48px;
  width: 120px;
  height: 42px;
  background:white;
  border: none;
  border: 2px solid #4CAF50;
  border-radius: 6px;
  color: #333;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
}
table#content
{
  margin: auto;
  padding-left: 25px;
  width: 1300px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 1000;
  font-size: larger;
  color: #333;
  align-content: center;
  text-align: center;
  display: none;
}
#content th
{
  border-bottom: 1px solid #ddd; 
  width: 160px; 
  height: 80px;
  text-align: center;
}
#profilename,#profileid
{
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  margin-left: 105px;
  width:300px;
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
#profile-box
{
  position: relative;
  width:33%;
  margin: 5% auto;
  height: 450px;
  background: #f3f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#change-pass
{
  position: relative;
  width:30%;
  margin: 5% auto;
  height: 450px;
  background: #f3f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#changeps
{
  width: 240px;
  height: 42px;
  background: white;
  border: none;
  border-radius: 2px;
  color: #333;
  border: 2px solid #4CAF50;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s;
  cursor: pointer;
}
#cancel-button
{
  width: 80px;
  height: 32px;
  background: white;
  border: none;
  border-radius: 6px;
  color: #333;
  border: 2px solid #4CAF50;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s;
  cursor: pointer;
}
#cancel-button:hover,#changeps:hover,#sub:hover
{
  background-color: #333;
  color: white;
}
#container
{
  width: 1510px;
  height: 754px;
}
